.input-wrap {
  height: 28vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  padding: 18px;
}
.resultat {
  flex: 1;
  font-size: 32px;
}

.text {
  flex: 1;
  font-size: 26px;
}
