.input-wrap {
  height: 18vh;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  flex-direction: column;

  padding: 16px;
}
.resultat {
  flex: 1;
  font-size: 24px;
}

.text {
  flex: 1;
  font-size: 16px;
}
