.button-wrap {
  height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 24px;
  background-color: #2c2323;
  color: white;
  flex: 1;

  margin: 4px;
  border-radius: 20px;

  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 20px #eee;
}
