body {
  background-color: rgb(80, 39, 39);
}
.App {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}
.calc {
  background-color: white;
  width: 40vw;
  border-radius: 20px;
  text-transform: uppercase;
  transition: 0.5s;
  background-size: 200% auto;
  box-shadow: 0 0 80px #eee;
}

.row {
  display: flex;
}
